*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 16px 0;
    background-color: #ce0505;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px ;
    font-size: 24px;

}
header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .container{
    align-items: flex-start;
}
section{
    padding: 24px 0;
}
section h2{
    margin-bottom: 16px;
}
section{
    color: #000000;
}
section p{
    margin-bottom: 8px;
    font-size: 18px;

}
.store-front{
    margin-right: 32px;
    
}


.container{
    padding-left: 25px!important;
    padding-right: 25px!important;
}

h5{
    font-size: 32px;
    padding-bottom: 15px;
}
#contact .container{
    display: block;
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px
}
form textarea{
    resize: none;
    height: 180px;
}
form button{
    background-color: #ce0505;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: #ce0505;
}
input:focus, textarea:focus{
    outline-color: #a51e1e;
}
.social-links img{
    height: 36px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
}
footer{
    background-color: #ce0505;
    color: #ecf0f1;
    padding: 16px 0;
}